{% extends 'master.html' %}
  
{% block title %}
 Questions
{% endblock %}

{% block content %}

    <div class="container mt-3">
      
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Course Title..">
      <div>
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-sm border btn-default fw-bold mx-3"
          style="color:blue;" data-bs-toggle="modal"
          data-bs-target="#add_need_books">Add </button>
        <!-- <button type="button" class="btn btn-default btn-sm border fw-bold"
          style="color:blue;" data-bs-toggle="modal"
          data-bs-target="#edit_need_books">edit</button> -->
        {%endif%}
      </div>
      <table id="myTable" class="table table-striped table-bordered mt-3">
        
        <thead >
          <tr>
            <th>Course Title</th>
            <th>Session</th>
            <th>Faculty</th>
            <th>Questions</th>
          </tr>
        </thead>
        
        <tbody>
          {%for q in ques %}
          <tr>
            <td >{{q.Course_title}}</td>
            <td>{{q.sessions.date}}</td>
            <td>{{q.sessions.faculty}}</td>
            <td><a href="{{q.sessions.file.url}}" download>{{q.exam_type}}{{q.sessions.date}}</a></td>  
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="finalexam" tabindex="-1" aria-labelledby="finalexamLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="finalexamLabel">Final Exam</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h2>Download PDF</h2>
                
                <a  href="/static/book.jpg" download>session</a><br>
                
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="midexam" tabindex="-1" aria-labelledby="midexamLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="midexamLabel">Mid Exam</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h2>Download PDF</h2>
              <p style="color:red;">*Name the file with session </p>
              <a href="/static/book.jpg" download>Download PDF</a>
              
             
            </div>
        </div>
    </div>
</div>
</div>




<div class="modal fade" id="add_need_books" tabindex="-1"
        aria-labelledby="addLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addLabel">Add the book's name what you
                have</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <form action="{% url 'add_question' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mt-2">

                  <input type="text" class="form-control my-input" id="name"
                    name="course_title"
                    placeholder="Enter Course title">
                </div>

                <div class="form-group mt-2">
                  <input type="text" class="form-control" id="ID"
                    name="faculty"
                    placeholder="Enter Faculty name">
                </div>
                <div class="form-group mt-2">
                  <input type="text" class="form-control" id="ID"
                    name="session"
                    placeholder="Enter session">
                </div>
                <div class="form-group mt-2">
                  <p>Please select exam type:</p>
                    <input type="radio" id="finalexam" name="Exam_type" value="finalexam">
                    <label for="finalexam">Final Exam</label><br>
                    <input type="radio" id="midexam" name="Exam_type" value="midexam">
                    <label for="midexam">Mid Exam</label><br>
                </div>
                <input type="file" name="pdf_file" value="something">
                
                <div class="text-center">
                  <button type="submit" class="btn btn-secondary text-white m-3">Add</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="edit_need_books" tabindex="-1"
        aria-labelledby="editLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addLabel">Name of the books that you
                added</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ol>
                <li><form style="margin-top:20px;" method="POST"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    name of the book
                    <input type="radio" value="yes">
                  </li></form>
                <ol>
                </div>
              </div>
            </div>
          </div>

    <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
      </script> 
    
{% endblock %}